#
# Weather Microservice environment variables
# Rename this file to .env and fill in your own values to run project
#

# Open Weather API key (See: https://openweathermap.org/api)
API_KEY=<replaceme>

# Port to run the dev server on
PORT=3000
